/*

@import url(http://fonts.googleapis.com/css?family=Raleway|Montserrat);

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    
	background-image: -moz-linear-gradient(top, rgba(0,0,0,.5), rgba(0,0,0,.5)), url('./img/background.jpg');
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../img/background.jpg');
    background-image: -ms-linear-gradient(top, rgba(0,0,0,.5), rgba(0,0,0,.5)), url('./img/background.jpg');
    background-image: linear-gradient(top, rgba(0,0,0,.5), rgba(0,0,0,.5)), url('./img/background.jpg');
    
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: dodgerblue;
    line-height: 1.5em;
}

h1, p {
    color: white;
}

h1 {
    font-size: 4em;
    margin-top: .75em;
    margin-bottom: .75em;
}

p {
    margin-bottom: 1em;
    font-size: 1.5em;
}

ol {
    margin-bottom: 1.5em;
}

ol li {
    font-size: 1.5em;
    color: lightskyblue;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: .2em;
}

a {
    color: lightskyblue;
}

a:hover {
    color: deepskyblue;
}

.plotly {
    margin-bottom: 10em;
}

.main-svg {
    padding: 1em;
    border-radius: .5em;
    width: inherit;
    height: calc(100% + 5em);
}

.well {
    background-color: white;
    color: darkblue;
    border-radius: .5em;
}

.selectize-input {
    border-color: darkblue;
    border-width: .2em;
    border-style: solid;
}

.selectize-input .item {
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.navbar {
	-o-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    font-family: sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
	background-color: white;
    border: none;
}

.nav > li > a{
	color: darkblue !important;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    padding-right: 1em;
    padding-left: 1em;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:focus {
    color: dodgerblue !important;
    border-radius: .5em;
    background-color: transparent !important;
    border-width: .2em;
    border-color: dodgerblue;
    border-style: solid;
    padding: 1em;
}

.nav > li > a:hover {
	color: dodgerblue !important;
}

.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	color: midnightblue !important;
    font-size: 1.5em;
}

#year_bar .main-svg, #total_bar .main-svg {
    height: calc(100% + 16em);
}

#year_bar .g-xtitle, #total_bar .g-xtitle {
    display: none;
}

#year_bar, #total_bar {
    margin-bottom: 21em;
}

*/